In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [20]:
df = pd.read_csv('pesos.csv')
df.head()

   Peso
0   7.2
1   8.0
2   8.2
3   5.8
4   6.1

In [21]:
df.describe().round(2)

        Peso
count  30.00
mean    7.57
std     0.95
min     5.60
25%     6.88
50%     7.70
75%     8.20
max     9.40

In [27]:
# Rango y numero de elementos
rango = df.max() - df.min()
n = df.shape[0]

# Numero de clases
if n < 30:
    k = int(np.ceil(np.sqrt(n)))
else:
    k = int(np.ceil(1 + (3.322 * np.log(n))))

# Amplitud
h = rango / k

h

Peso    0.292308
dtype: float64

In [33]:
clases = df['Peso'].value_counts(bins = k, sort = False)
tablaFrecuencias = pd.DataFrame(clases)
tablaFrecuencias.rename(columns = {'count':'Frecuencia absoluta'}, inplace = True)
frecuenciaAcumulada = []
acumulador = 0

for i in tablaFrecuencias.index:
    acumulador = acumulador + tablaFrecuencias['Frecuencia absoluta'][i]
    frecuenciaAcumulada.append(acumulador)

tablaFrecuencias['Frecuencia acumulada'] = frecuenciaAcumulada
tablaFrecuencias['Frecuencia relativa'] = tablaFrecuencias['Frecuencia absoluta'] / n

tablaFrecuencias

                Frecuencia absoluta  Frecuencia acumulada  Frecuencia relativa
Peso
(5.595, 5.892]                    2                     2             0.066667
(5.892, 6.185]                    1                     3             0.033333
(6.185, 6.477]                    1                     4             0.033333
(6.477, 6.769]                    1                     5             0.033333
(6.769, 7.062]                    3                     8             0.100000
(7.062, 7.354]                    3                    11             0.100000
(7.354, 7.646]                    2                    13             0.066667
(7.646, 7.938]                    7                    20             0.233333
(7.938, 8.231]                    4                    24             0.133333
(8.231, 8.523]                    2                    26             0.066667
(8.523, 8.815]                    1                    27             0.033333
(8.815, 9.108]                    2                    29             0.066667
(9.108, 9.4]                      1                    30             0.033333

In [28]:
5.595-5.892

-0.2970000000000006